{% include 'header.html' %}
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Fill up fields to Update Student Profile</h1>
              </div>
              {% if student %}
              <form class="user" method="POST">
              	{% csrf_token %}
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <tr>
                    <th>Name</th>
                    <td>
                      <div class="form-group">                  
                        <input type="text" name="studentFullName" class="form-control form-control-user" id="exampleFirstName" value="{{ student.studentFullName }}">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>Department</th>
                    <td>
                      <div class="form-group">                  
                        <input type="text" name="studentDept" class="form-control form-control-user" id="exampleFirstName" value="{{ student.studentDept }}">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>Session</th>
                    <td>
                      <div class="form-group">                  
                        <input type="text" name="studentSession" class="form-control form-control-user" id="exampleFirstName" value="{{ student.studentSession }}">
                      </div>
                    </td>
                  </tr>                  
                  <tr>
                    <th>SSC GPA</th>
                    <td>
                      <div class="form-group">                  
                        <input type="text" name="studentSSC" class="form-control form-control-user" id="exampleFirstName" value="{{ student.studentSSC }}">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>HSC GPA</th>
                    <td>
                      <div class="form-group">                  
                        <input type="text" name="studentHSC" class="form-control form-control-user" id="exampleFirstName" value="{{ student.studentHSC }}">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>Father's Name</th>
                    <td>
                      <div class="form-group">
                        <input type="text" name="studentFather" class="form-control form-control-user" id="exampleFirstName" value="{{ student.studentFather }}">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>Mother's Name</th>
                    <td>
                      <div class="form-group">    
                        <input type="text" name="studentMother" class="form-control form-control-user" id="exampleFirstName" value="{{ student.studentMother }}">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>Present Address</th>
                    <td>
                      <div class="form-group">    
                        <input type="text" name="studentPresentAddress" class="form-control form-control-user" id="exampleFirstName"value="{{ student.studentPresentAddress }}">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>Permanent Address</th>
                    <td>
                      <div class="form-group">
                        <input type="text" name="studentPermanentAddress" class="form-control form-control-user" id="exampleFirstName" value="{{ student.studentPermanentAddress }}">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>E-mail</th>
                    <td>
                      <div class="form-group">
                        <input type="email" name="studentEmail" class="form-control form-control-user" id="exampleInputEmail" value="{{ student.studentEmail }}">
                      </div>
                    </td>
                  </tr>
              </table>
              <button class="btn btn-primary btn-user btn-block">Update Student</button>
            </form>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 {% include 'footer.html' %}