{% include 'header.html' %}
<!-- Begin Page Content -->
<div class="container-fluid">

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Student List</h6>
  </div>
  <div class="card-body">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissable" role="alert">
          <button class="close" data-dismiss="alert">
            <small><sup>x</sup></small>
          </button>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    <div class="table-responsive">
      {% if all_students %}
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Father</th>
              <th>Mother</th>
              <th>Dept</th>
              <th>Session</th>
              <th>Action</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Name</th>
              <th>Father</th>
              <th>Mother</th>
              <th>Dept</th>
              <th>Session</th>
              <th>Action</th>
            </tr>
          </tfoot>
          <tbody>
            {% for things in all_students %}
              <tr>
                <td><a href="{% url 'student_profile' things.id %}">{{ things.studentFullName }}</a></td>
                <td>{{ things.studentFather }}</td>
                <td>{{ things.studentMother }}</td>
                <td>{{ things.studentDept }}</td>
                <td>{{ things.studentSession }}</td>
                <td><a href="{% url 'edit_student' things.id %}" class="btn btn-primary">Update</a>  <a href="{% url 'delete_student' things.id %}" class="btn btn-danger">Delete</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
</div>
</div>
<!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
{% include 'footer.html' %}