{% include 'header.html' %}
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-7">
            <div class="p-5">              
              {% if student %}
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">{{ student.studentFullName }}</h1>
                </div>
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <tr>
                      <th>Name</th>
                      <td>{{ student.studentFullName }}</td>
                    </tr>
                    <tr>
                      <th>Department</th>
                      <td>{{ student.studentDept }}</td>
                    </tr>
                    <tr>
                      <th>Session</th>
                      <td>{{ student.studentSession }}</td>
                    </tr>
                    <tr>
                      <th>Present Address</th>
                      <td>{{ student.studentPresentAddress }}</td>
                    </tr>
                    <tr>
                      <th>Permanent Address</th>
                      <td>{{ student.studentPermanentAddress }}</td>
                    </tr>
                  </table>
                  <hr>
                  <a href="{% url 'edit_student' student.id %}" class="btn btn-primary btn-user btn-block">Update Profile</a>
                  <a href="{% url 'delete_student' student.id %}" class="btn btn-danger btn-user btn-block">Delete Profile</a>
                </div>
              {% endif %}              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% include 'footer.html' %}